<header class="header">
    <div class="container">
        <div class="header_content">
            <nav>
                <ul>
                    <li><a href="javascrip:void(0)">Главная</a></li>
                    <li><a href="javascrip:void(0)">О центре</a></li>
                    <li><a href="javascrip:void(0)">Контакты</a></li>
                    <li><a href="javascrip:void(0)">Клиника</a></li>
                </ul>
            </nav>
            <a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
            <div class="header_contant">
                <a href="tel:+38 (063) 606-66-77" class="tel">
                    <img src="img/icon_tel.svg" alt="">
                    <span>Есть вопросы</span>
                    +38 (063) 606-66-77
                </a>
                <a href="javascrip:void(0)" class="enroll">записаться</a>
                <span class="open_menu">
                    <span></span>
                </span>
            </div>
        </div>
    </div>
</header>